#diluted_truths {
    background-color: #0E5D63;
}

#following_fortunes {
    background-color: #AC90C0;
}

#following_fortunes_text {
    font-size: 30px;
}

.book-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.book-panel {
    margin-top: 2vw;
    width: 75vw;
    padding: 6vh 1vw 2vw 6vh;
    display: flex;
}

#book-summary {
    margin-left: 2vw;
    margin-top: 2vh;
    color: white;
    font-family: Montserrat;
}

#links-section {
    text-align: center;
    margin-top: 3vh;
}

#book-image {
    width: auto;
    height: auto;
    max-width: 220.5px;
}

#media-section {
    display: flex;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center; 
    align-items: center;
}

.media-div {
    overflow: hidden;
}

.media-image {
    padding: 1vh;
    border-radius: 25px;
    min-width: 50px;
    height: auto;
    width: auto;
    max-height: 215px;
    max-width: 215px;
    aspect-ratio: 1 / 1;
}

.names {
    font-family: MontserratBold;
}

.book-page-buttons {
    background-color: #EBEEF0;
    color: #0E5D63;
}

.book-page-buttons:link, .book-page-buttons:scope, .book-page-buttons:focus, .book-page-buttons:visited, .book-page-buttons:hover, .book-page-buttons:active, .book-page-buttons:active:hover {
    background-color: #869CAD;
    color: #0E5D63;
}

.page-links, .page-links:link, .page-links:visited, .page-links:hover, .page-links:active, .page-links:active:hover{
    color: #0E5D63;
    font-family: Montserrat;
}

@media (max-width: 1200px) {
    .media-image {
        width: 15vw;
    }
}

@media (max-width: 800px) {
    .book-panel {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 2vw;
    }

    #book-image {
        width: 30vw;
    }

    #book-summary {
        font-size: 14px;
        margin-right: 2vw;
    }
}