#connect-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 160px;
    position: relative;
    z-index: 100;
}

#connect-title {
    font-family: Garet;
}

.media-links-section {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.media-links {
    width: 30vw;
    margin: 10px;
    background-color: white;
    padding: 2vh;
    font-family: Montserrat;
}

@media (max-width: 800px) {
    .media-links {
        width: 70vw;
    }
}