#home {
    overflow-y: scroll;
}

.home-section {
    background-color: white;
    width: 75vw;
}

#new-release-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

#new-release-text-container {
    margin-top: 5vh;
}

#new-release-title {
    font-family: Garet;
}

#book-information {
    font-family: Montserrat;
}

#cover-image {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: auto;
    height: auto;
    aspect-ratio: 735 / 1173;
    max-width: 20%;
}

#welcome-section {
    display: flex;
    justify-content: space-around;
}

#welcome-title {
    margin-top: 3vh;
}

.tropes-list {
    padding-top: 0;
    padding-left: 0;
    margin-top: -2vh;
    list-style-position: inside;
}

@media (max-width: 850px) {
    .home-section {
        width: 95vw;
        font-size: 14px;
    }

    #new-release-text-container {
        margin-bottom: 10vh;
    }

    #new-release-title {
        font-size: 18px;
    }

    #cover-image {
        width: 25vw;
        height: auto;
    }
}

@media (max-width: 1250px) {
    #new-release-section {
        padding: 5vh;
    }
}