#navbar-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
}

#navbar-section {
    width: 85vw;
    height: 13vh;
    top: 3vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    background: white;
    display: flex;
    flex-direction: column;
}

#circle {
    font-size: 6px;
    line-height: inherit!important; 
    vertical-align: middle;
}

#navbar-title {
    font-size: 24px;
    font-family: Ovo;
}

#nav-links-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: Montserrat;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links:active, .nav-links:hover, .nav-links:active:hover {
    color: rgb(53,70,90);
}

@media (max-width: 850px) {
    #navbar-section {
        width: 80vw;
    }

    #nav-links-section {
        width: 100%;
    }

    #navbar-title {
        font-size: 20px;
    }

    .nav-links {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    #navbar-title {
        font-size: 16px;
    }

    .nav-links {
        font-size: 12px;
    }
}

@media (max-height: 700px) {
    #navbar-section {
        height: 25vh;
        max-height: 130px;
    }
}