#shop-container {
    margin-top: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-links-section {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.shop-links {
    width: auto;
    height: auto;
    aspect-ratio: 735 / 1173;
    max-width: 220.5px;
}

.shop-link-container {
    padding: 3vh;
}

.shop-links:active, .shop-links:hover, .shop-links:active:hover {
    opacity: 0.5;
    z-index: 2;
}

.click-me {
    display: none;
    color: white;
    font-size: 30px;
    font-family: Montserrat;
    position: absolute;
    width: 220.5px;
    text-align: center;
    margin-top: -18vh;
    z-index: 1;
}

.book-name {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
}

@media (max-width: 800px) {
    .shop-links {
        width: 30vw;
        height: auto;
    }
}

@media (max-width: 550px) {
    .book-name {
        font-size: 10px;
    }
}