#shop-container {
    margin-top: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#shop-links-section {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.shop-links:active, .shop-links:hover, .shop-links:active:hover {
    opacity: 0.5;
    z-index: 1;
}

#click-me {
    display: none;
    color:black;
    font-size: 36px;
    font-family: Montserrat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-name {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
}