body {
  overflow-y: scroll;
}

#background-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 150px;
  pointer-events: none;
}

main {
  margin-bottom: 20vh;
  height: 100%;
  width: 100vw;
  position: relative;
  z-index: 100;
}

.btn-primary, .btn-primary:scope, 
.btn-primary:link, .btn-primary:focus {
  background-color: #022D25;
  border: #022D25;
}

.btn-primary:active:hover, .btn-primary:hover, .btn-primary:active {
  background-color: #0E5D63;
  border: #0E5D63;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a:active, a:hover, a:active:hover {
  color: #0E5D63;
}

@font-face {
  font-family: Ovo;
  src: url('./assets/fonts/Ovo-Regular.ttf');
}

@font-face {
  font-family: Cinzel;
  src: url('./assets/fonts/Cinzel-Regular.ttf');
}

@font-face {
  font-family: Garet;
  src: url('./assets/fonts/Garet-Book.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: MontserratBold;
  src: url('./assets/fonts/MontserratAlternates-Bold.ttf');
}